#player {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

#player h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#track-name {
    display: block;
    font-size: 1.2em;
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
}

#track-pic {
    border-radius: 5px;
    height: 150px;
    width: 150px;
}

#artists {
    list-style: none;
}

.artist_li {
    display: inline;
}

.artist_li a {
    color: #1DB954;
    text-decoration: none;
}

.artist_li span {
    color: #1DB954;
}



.play-btn:not(:last-child) {
    margin-right: 10px;
}

#time-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#player-btn {
    align-items: center;
    display: flex;
}

#time, #duration {
    display: inline;
    font-size: 1em;
    color: #666;
}

#time-bar {
    width: 100%;
    height: 10px;
}

#track-addon {
    margin-top: 10px;
}

#track-addon, #volume {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#volume-bar {
    width: 100px;
    height: 10px;
}

#volume-btn {
    margin-right: 10px;
}