#user {
    width: 250px;
}

#user h1 {
    font-size: 2em;
    color: #4CAF50;
}

#user img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#user p {
    font-size: 1.1em;
    color: #666;
}